<div class="card text-center" style="width: 18rem;height: 100%;">
<img class="card-img-top" src="{{profile.image}}" alt="Card image cap">
<div class="card-body">
    <h5 class="card-title">{{profile.name}}</h5>
    <p class="card-text">{{profile.aboutMe}}</p>
    <hr>
    <h6 class="card-title">Order description:</h6>
    <div class="text-left">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">beer 1</li>
            <li class="list-group-item">beer 2</li>
            <li class="list-group-item">Vbeer 3</li>
        </ul>
    </div>
    <button type="button" class="btn btn-outline-success btn-sm">Order</button>
</div>
</div>